
.grid {
	position: top;
	display: grid;
	align-items: top;
	grid-template-columns: repeat(auto-fit, minmax(275px, auto));
	grid-gap: 0.75rem;
}

.comic .title {
	margin-top: 0;
}

.buttonContainer {
	position: relative;
	display: flex;
	justify-content: center;
	top: -25px;
	left: -10px
}

.favButton {
	background-color: black;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	border-color: white;
	border-width: 2px;
}

.favButtonActive {
	background-color: maroon;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	border-color: white;
	border-width: 2px;
}

.bolt {
	margin-top: 5px;
	margin-left: 0px;
	width: 20px;
}